<p>Hi Sir/Mdm,</p>
<p>The nominal for #{ membersName.join(', ') } - #{ activityName }, #{ schoolName }, has been rejected for the following reasons:</p>
<p>#{ NRData.dc_remarks }</p>
<p>Warmest Regards,</p>
<p>NCC Portal</p>
