extends ../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-md-6', 'col-sm-offset-3'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h2 Create Logistic Item
        form(action='/item/create' method='POST' role='form')
          div.form-group
            label(for='type') Item Type:
            select#type(name='type_id' class='form-control')
              each type in types
                option(value=type._id) #{ type.name }

          div.form-group
            label(for='name') Item Name:
            input#name(name='name' type='text' class='form-control')

          div.form-group
            label(for='remarks') Remarks
            textarea#remarks(name='remarks' class='form-control' rows=10 cols='50')

          div.row.paddb15
            div(class=['col-12', 'col-sm-12', 'form-actions'])
              input.btn.btn-success.pull-right(type='submit' value='Submit')
