extends ../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-md-6', 'col-sm-offset-3'])
        div.page-header: h2 Edit Logistic Item
        form(action='/item/' + item._id method='POST' role='form')
          input(type='hidden' name='_method' value='PUT')

          div.form-group
            label(for='type') Item Type:
            select#type(name='type_id' class='form-control')
              each type in types
                if type._id.toString() == item.type_id.toString()
                  option(value=type._id selected) #{ type.name }
                else
                  option(value=type._id) #{ type.name }

          div.form-group
            label(for='name') Item Name:
            input#name(name='name' type='text' class='form-control' value=item.name)

          div.form-group
            label(for='remarks') Remarks
            textarea#remarks(name='remarks' class='form-control' rows=10 cols='50') #{ item.remarks }

          div.row.paddb15
            div(class=['col-12', 'col-sm-12', 'form-actions'])
              input.btn.btn-success.pull-right(type='submit' value='Update')
