extends ../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-sm-10', 'col-sm-offset-1'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h4 List of Items
        div.table-responsive
          table.table.table-bordered
            tr
              th(class=['col-xs-2', 'col-sm-2', 'col-md-2', 'col-lg-1']) #
              th Item Type
              th Item Name
              th(class=['col-xs-3', 'col-sm-2', 'col-md-1', 'col-lg-1'])

            each item, index in items
              tr
                td #{ index }
                td #{ item.typeName }
                td #{ item.name }
                td.text-center
                  a.btn.btn-xs.btn-info(href='/item/' + item._id role='button')
                    i.glyphicon.glyphicon-pencil
                    |  Edit Item

        a.btn.btn-success.pull-right(href='/item/create' role='button') Add Item
