extends ../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-md-6', 'col-sm-offset-3'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        if warning_message != ''
          p.alert.alert-warning #{ warning_message }

        div.page-header: h2 Create Item Type
        form(action='/itemtype/create' method='POST' role='form')
          div.form-group
            label(for='name') Type of Item
            input#name(name='name' type='text' class='form-control')

          div.row.paddb15
            div(class=['col-12', 'col-sm-12', 'form-actions'])
              input.btn.btn-success.pull-right(type='submit' value='Submit')
