extends ../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-md-6', 'col-sm-offset-3'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h2 Edit Item Type
        form(action='/itemtype/' + type._id method='POST' role='form')
          input(type='hidden' name='_method' value='PUT')

          div.form-group
            label(for='name') Name of Type
            input#name(name='name' type='text' class='form-control' value=type.name)

          div.row.paddb15
            div(class=['col-12', 'col-sm-12', 'form-actions'])
              input.btn.btn-success.pull-right(type='submit' value='Update')
