extends ../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-sm-10', 'col-sm-offset-1'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h4 List of Item Types
        div.table-responsive
          table.table.table-bordered
            tr
              th(class=['col-xs-1', 'col-sm-1', 'col-md-1', 'col-lg-1']) #
              th Name of Type
              th(class=['col-xs-2', 'col-sm-3', 'col-md-2', 'col-lg-2'])
            each type, index in types
              tr
                td #{ index }
                td #{ type.name }
                td.text-center
                  a.btn.btn-xs.btn-info(href='/itemtype/' + type._id role='button')
                    i.glyphicon.glyphicon-pencil
                    |  Edit Type

        a(
          href='/itemtype/create' class=['btn', 'btn-success', 'pull-right']
          role='button'
        ) Add a Type
