.navbar-nav {
  li a {
    line-height: 50px;
  }
}

.createbox {
  color:white;
  background-color: #114d4c;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #185c5a;
}

.pad15 {
	padding: 15px;
}

.paddb15 {
	padding-bottom: 15px;
}

.paddlr15 {
	padding-left: 15px;
	padding-right: 15px;
}

.error-template {
  padding: 40px 15px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

.error-actions .btn {
  margin-right: 10px;
}

.delete-btn {
  margin-left: 5px;
}

.border-away {
	border-bottom: 1px solid #eee;
	margin-top: 10px;
	margin-bottom: 10px;
}
