extends ../../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-sm-10', 'col-sm-offset-1'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h4 Add a Teacher
        if schools.length == 0
          div(
            class=['alert', 'alert-danger', 'pad15', 'col-sm-6', 'col-sm-offset-3']
            role='alert'
          ) No Schools! Please add a
            a.alert-link(href='/school/create')  School.
        else
          form(
            action='/role/teacher/create' class='form-horizontal'
            roles='form' method='POST'
          )
            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='name') Name:
                  input#name(type='text' name='name' class='form-control')

              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='nric') NRIC/FIN:
                  input#nric(type='text' name='nric' class='form-control')

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='password') Password:
                  input#password(type='password' name='password' class='form-control')

              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='password_confirm') Confirm Password:
                  input#password_confirm(type='password' name='password_confirm' class='form-control')

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='dob-date') Date of Birth:
                  div#dob-date(class=['input-group', 'date'])
                    input(type='text' name='dob' class='form-control')
                    span.input-group-addon: i.glyphicon.glyphicon-calendar

              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='cob') Country of Birth:
                  input#cob(type='text' name='cob' class='form-control')

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='gender') Gender:
                  select#gender(name='gender' class='form-control')
                    option(value='m') Male
                    option(value='f') Female

              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='nationality') Nationality:
                  input#nationality(type='text' name='nationality' class='form-control')

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='citizenship') Citizenship:
                  input#citizenship(type='text' name='citizenship' class='form-control')

              div(class=['col-md-6', 'col-sm-6'])
                  div(class=['form-group', 'paddlr15'])
                    label(for='school') School:
                    select#school(name='school_id' class=['form-control', 'remarks-select'])
                      each school in schools
                        option(value=school._id data-remarks=school.remarks) #{ school.name }

                  div(class=['row', 'remarks-box'])
                    div(class=['col-md-12', 'col-sm-12'])

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='religion') Religion:
                  select#religion(name='religion' class='form-control')
                    each religion, index in options.religions
                      option(value=index) #{ religion }

              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='blood_group') Blood Group:
                  select#blood_group(name='blood_group' class='form-control')
                    each blood, index in options.bloodGroup
                      option(value=index) #{ blood }

            div.row
              div(class=['col-md-12', 'col-sm-12'])
                div(class=['form-group', 'paddlr15'])
                  label(for='address') Address:
                  textarea#address(name='address' class='form-control' rows=5)

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='home-number') Home Number:
                  input#home-number(type='text' name='home_number' class='form-control')

              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='mobile-number') Mobile Number:
                  input#mobile-number(type='text' name='mobile_number' class='form-control')

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='email') Email:
                  input#email(type='email' name='email' class='form-control')

              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='level') Student Level:
                  select#level(name='level' class='form-control')
                    each level, index in options.levels
                      option(value=index) #{ level }

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='rank') Current Rank:
                  select#rank(name='rank' class='form-control')
                    each rank, index in options.ranks
                      option(value=index) #{ rank }

              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='race') Race:
                  select#race(name='race' class='form-control')
                    each race, index in options.races
                      option(value=index) #{ race }

            div.row
              div(class=['col-md-12', 'col-sm-12'])
                div(class=['form-group', 'paddlr15'])
                  label(for='dietary') Dietary Requirements:
                  textarea#dietary(name='dietary' class='form-control' rows=5)

              div(class=['col-md-12', 'col-sm-12'])
                div(class=['form-group', 'paddlr15'])
                  label(for='medical-history') Medical History:
                  textarea#medical-history(name='medical_history' class='form-control' rows=5)

            div.row.paddb15
              div(class=['col-md-12', 'col-sm-12'])
                div(class=['form-group', 'paddlr15'])
                  label(for='remarks') Remarks:
                  textarea#remarks(name='remarks' class='form-control' rows=5)

            div.row
              div(class=['border-away', 'col-md-5', 'col-sm-5'])
              div(class=['col-md-2', 'col-sm-2'])
                h4(class='text-center' style='margin-top:0; margin-bottom: 10px;') Next of Kin
              div(class=['border-away', 'col-md-5', 'col-sm-5'])

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='nok-name') Name:
                  input#nok-name(type='text' name='nok_name' class='form-control')

              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='nok-contact') Contact No.:
                  input#nok-contact(type='text' name='nok_contact' class='form-control')

            div.row
              div(class=['col-md-6', 'col-sm-6'])
                div(class=['form-group', 'paddlr15'])
                  label(for='nok-relationship') Relationship:
                  input#nok-relationship(type='text' name='nok_relationship' class='form-control')
              div(class=['col-md-6', 'col-sm-6'])

            div(class=['row', 'paddb15'])
              div(class=['col-md-12', 'col-sm-12', 'form-actions'])
                input(type='submit' class=['btn', 'btn-success', 'pull-right'])
