extends ../../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-sm-10', 'col-sm-offset-1'])
        div.page-header: h4 Edit a Teacher
        form(
          action='/role/teacher/' + teacher._id
          class='form-horizontal' roles='form' method='POST'
        )
          input(type='hidden' name='_method' value='PUT')
          input(type='hidden' name='role' value='teacher')
          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='name') Name:
                input#name(type='text' name='teacherData[name]' class='form-control' value=teacher.teacherData.name)

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='nric') NRIC/FIN:
                input#nric(type='text' name='username' class='form-control' value=teacher.username)

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='password') New Password:
                input#password(type='password' name='password' class='form-control')

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='password_confirm') Confirm Password:
                input#password_confirm(type='password' name='password_confirm' class='form-control')

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='dob-date') Date of Birth:
                div#dob-date(class=['input-group', 'date'])
                  input(type='text' name='teacherData[dob]' class='form-control' value=teacher.teacherData.dob)
                  span.input-group-addon: i.glyphicon.glyphicon-calendar

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='cob') Country of Birth:
                input#cob(type='text' name='teacherData[cob]' class='form-control' value=teacher.teacherData.cob)

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='gender') Gender:
                select#gender(name='teacherData[gender]' class='form-control')
                  if teacher.teacherData.gender == 'm'
                    option(value='m' selected) Male
                    option(value='f') Female
                  else
                    option(value='m') Male
                    option(value='f' selected) Female

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='nationality') Nationality:
                input#nationality(type='text' name='teacherData[nationality]' class='form-control' value=teacher.teacherData.nationality)

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='citizenship') Citizenship:
                input#citizenship(type='text' name='teacherData[citizenship]' class='form-control' value=teacher.teacherData.citizenship)

            div(class=['col-md-6', 'col-sm-6'])
              fieldset(disabled)
                div(class=['form-group', 'paddlr15'])
                  label(for='school') School:
                  select#school(name='teacherData[school_id]' class=['form-control', 'remarks-select'])
                    each school in schools
                      if teacher.teacherData.school_id.toString() == school._id
                        option(value=school._id data-remarks=school.remarks selected) #{ school.name }
                      else
                        option(value=school._id data-remarks=school.remarks) #{ school.name }

                div(class=['row', 'remarks-box'])
                  div(class=['col-md-12', 'col-sm-12'])

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='religion') Religion:
                select#religion(name='teacherData[religion]' class='form-control')
                  each religion, index in options.religions
                    if teacher.teacherData.religion == index
                      option(value=index selected) #{ religion }
                    else
                      option(value=index) #{ religion }

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='blood_group') Blood Group:
                select#blood_group(name='teacherData[blood_group]' class='form-control')
                  each blood, index in options.bloodGroup
                    if teacher.teacherData.blood_group == index
                      option(value=index selected) #{ blood }
                    else
                      option(value=index) #{ blood }

          div.row
            div(class=['col-md-12', 'col-sm-12'])
              div(class=['form-group', 'paddlr15'])
                label(for='address') Address:
                textarea#address(name='teacherData[address]' class='form-control' rows=5) #{ teacher.teacherData.address }

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='home-number') Home Number:
                input#home-number(type='text' name='teacherData[home_number]' class='form-control' value=teacher.teacherData.home_number)

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='mobile-number') Mobile Number:
                input#mobile-number(type='text' name='teacherData[mobile_number]' class='form-control' value=teacher.teacherData.mobile_number)

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              fieldset(disabled)
                div(class=['form-group', 'paddlr15'])
                  label(for='email') Email:
                  input#email(type='email' name='email' class='form-control' value=teacher.email)

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='level') Student Level:
                select#level(name='teacherData[level]' class='form-control')
                  each level, index in options.levels
                    if teacher.teacherData.level == index
                      option(value=index selected) #{ level }
                    else
                      option(value=index) #{ level }

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='rank') Current Rank:
                select#rank(name='teacherData[rank]' class='form-control')
                  each rank, index in options.ranks
                    if teacher.teacherData.rank == index
                      option(value=index selected) #{ rank }
                    else
                      option(value=index) #{ rank }

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='race') Race:
                select#race(name='teacherData[race]' class='form-control')
                  each race, index in options.races
                    if teacher.teacherData.race == index
                      option(value=index selected) #{ race }
                    else
                      option(value=index) #{ race }

          div.row
            div(class=['col-md-12', 'col-sm-12'])
              div(class=['form-group', 'paddlr15'])
                label(for='dietary') Dietary Requirements:
                textarea#dietary(name='teacherData[dietary]' class='form-control' rows=5) #{ teacher.teacherData.dietary }

            div(class=['col-md-12', 'col-sm-12'])
              div(class=['form-group', 'paddlr15'])
                label(for='medical-history') Medical History:
                textarea#medical-history(name='teacherData[medical_history]' class='form-control' rows=5) #{ teacher.teacherData.medical_history }

          div.row.paddb15
            div(class=['col-md-12', 'col-sm-12'])
              div(class=['form-group', 'paddlr15'])
                label(for='remarks') Remarks:
                textarea#remarks(name='teacherData[remarks]' class='form-control' rows=5) #{ teacher.teacherData.remarks }

          div.row
            div(class=['border-away', 'col-md-5', 'col-sm-5'])
            div(class=['col-md-2', 'col-sm-2'])
              h4(class='text-center' style='margin-top:0; margin-bottom: 10px;') Next of Kin
            div(class=['border-away', 'col-md-5', 'col-sm-5'])

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='nok-name') Name:
                input#nok-name(type='text' name='teacherData[nok_name]' class='form-control' value=teacher.teacherData.nok_name)

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='nok-contact') Contact No.:
                input#nok-contact(type='text' name='teacherData[nok_contact]' class='form-control' value=teacher.teacherData.nok_contact)

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='nok-relationship') Relationship:
                input#nok-relationship(type='text' name='teacherData[nok_relationship]' class='form-control' value=teacher.teacherData.nok_relationship)
            div(class=['col-md-6', 'col-sm-6'])

          div(class=['row', 'paddb15'])
            div(class=['col-md-12', 'col-sm-12', 'form-actions'])
              input(type='submit' class=['btn', 'btn-success', 'pull-right'])
