extends ../../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-sm-10', 'col-sm-offset-1'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h4 List of Teachers
        div.table-responsive
          table.table.table-bordered
            tr
              th #
              th Name
              th Date of Birth
              th Email
              th(class=['col-lg-2'])
            each teacher, index in teachers
              tr
                td #{ index }
                td #{ teacher.teacherData.name }
                td #{ teacher.teacherData.dob }
                td #{ teacher.email }
                td.text-center
                  a#updateTeacher(href='/role/teacher/' + teacher._id class=['btn', 'btn-xs', 'btn-info'])
                    i.glyphicon.glyphicon-pencil
                    |  Edit
                  form(
                    action='/role/teacher/' + teacher._id
                    encrypte='application/x-www-form-urlencoded'
                    method='POST'
                    style='display:inline'
                  )
                    input(type='hidden' name='_method' value='DELETE')
                    button(
                      type='button'
                      data-toggle='modal'
                      data-title='Delete Teacher'
                      data-target='#confirmDelete'
                      data-message='Are you sure you want to delete this Teacher?'
                      class=['btn', 'btn-xs', 'btn-danger', 'delete-btn']
                    )
                      i.glyphicon.glyphicon-trash
                      |  Delete

        a(href='/role/teacher/create' class=['btn', 'btn-success', 'pull-right'] role='button') Add a Teacher
        include ../../confirms/delete.pug
