<p>Hi Sir/Mdm,</p>
<p>The request to delete #{ membersName.join(', ') } - #{ activityName } nominal roll from #{ schoolName }, has been rejected for the following reasons:</p>
<p>#{ NRData.dc_remarks }</p>
<p>Warmest Regards,</p>
<p>NCC Portal</p>
