<p>Hi Sir/Mdm,</p>
<p>#{ authUser.title }, #{ authUser.username } has submitted a #{ membersName.join(', ') } #{ activityName } nominal roll from #{ districtName }, #{ schoolName } for your approval.</p>
<p>Kindly login to the system to approve/reject the application.</p>
<p>Warmest Regards,</p>
<p>NCC Portal</p>
