div#confirmDelete(
  class=['modal', 'fade'] role='dialog'
  aria-labelledby='confirmDelete' aria-hidden='true'
)
  div.modal-dialog
    div.modal-content
      div.modal-header
        button.close(type='button' data-dismiss='modal' aria-hidden='true') &times;
        h4.modal-title Delete Permamently
      div.modal-body
        p Are you sure about this?
      div.modal-footer
        button.btn.btn-default(type='button' data-dismiss='modal') Cancel
        button.btn.btn-danger(type='button' id='confirm') Delete
