extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-6', 'col-sm-offset-3'])
      div.page-header: h2 Create Activity
      form(
        action='/activity/create'
        method='POST'
        role='form'
      )
        div.form-group
          label(for='name') Activity Name
          input#name.form-control(name='name' type='text')
        div.form-group
          label(for='remarks') Remarks
          textarea#remarks.form-control(name='remarks' cols='50' rows='10')
        input.btn.btn-success.pull-right(type='submit' value='Create')
