extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-6', 'col-sm-offset-3'])
      div.page-header: h2 Edit Activity
      form(
        action='/activity/' + activity._id
        method='POST'
        enctype='application/x-www-form-urlencoded'
        role='form'
      )
        input(type='hidden' name='_method' value='PUT')
        div.form-group
          label(for='name') Activity Name
          input#name.form-control(type='text' name='name' value=activity.name)
        div.form-group
          label(for='remarks') Remarks
          textarea#remarks.form-control(name='remarks' rows=10 cols=50) #{activity.remarks}
        input.btn.btn-success.pull-right(type='submit')
