extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    form(action="/district/create" method="POST" role="form")
      div(class=['col-sm-6', 'col-sm-offset-3'])
        div.page-header: h2 Create District
        div.form-group
          label(for="name") District Name
          input.form-control(name="name" type="text" id="name")
      div(class=['col-sm-6', 'col-sm-offset-3'])
        div.form-group
          label(for="remarks") Remarks
          textarea.form-control(name="remarks" cols="50" rows="10" id="remarks")
      div(class=['col-sm-6', 'col-sm-offset-3'])
        input.btn.btn-success.pull-right(type="submit" value="Submit")
