extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    form(method='POST' url='/district/' + district._id role='form' enctype="application/x-www-form-urlencoded")
      <input type="hidden" name="_method" value="PUT">
      div(class=['col-sm-6', 'col-sm-offset-3'])
        div.page-header: h2 Edit District #{district.name}
        div.form-group
          label(for='name')
          input.form-control(type='text' name='name' id='name' value=district.name)
      div(class=['col-sm-6', 'col-sm-offset-3'])
        div.form-group
          label(for='remarks')
          textarea.form-control(name='remarks' id='remarks' cols="50" rows="10") #{district.remarks}
      div(class=['col-sm-6', 'col-sm-offset-3'])
        input.btn.btn-success.pull-right(type='submit' value='submit')
