extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-10', 'col-sm-offset-1'])
      if success_message != ''
        p.alert.alert-success #{success_message}

      div.page-header: h4 List of Districts
      div.table-responsive
        table.table.table-bordered
          tr
            th(class=['col-xs-3', 'col-sm-2', 'col-sm-1', 'col-lg-1']) #
            th Name
            th(class=['col-xs-3', 'col-sm-2', 'col-sm-1', 'col-lg-1'])
          each district, index in districts
            tr
              td #{index}
              td #{district.name}
              td.text-center
                a.btn.btn-xs.btn-info(href='/district/' + district._id role='button')
                  i.glyphicon.glyphicon-pencil
                  |  Edit a District

      a.btn.btn-success.pull-right(href='district/create' role='button') Add District
