extends ../../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-sm-10', 'col-sm-offset-1'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h4 Add a DC
        form(action='/role/dc/create' class='form-horizontal' roles='form' method='POST')
          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='username') NRIC:
                input#username(type='text' name='username' class='form-control')

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='email') Email:
                input#email(type='email' name='email' class='form-control')

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='password') Password:
                input#password(type='password' name='password' class='form-control')

            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='password_confirm') Confirm Password:
                input#password_confirm(type='password' name='password_confirm' class='form-control')

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div(class=['form-group', 'paddlr15'])
                label(for='title') Title:
                input#title(type='text' name='title' class='form-control')

            div(class=['col-md-6', 'col-sm-6', 'district-list'])
              div(class=['form-group', 'paddlr15'])
                input(name='districts[]' checked type='checkbox' value='hide' style='display:none;')
                label(for='districts' style='display: block;') Districts:
                each district in districts
                  label.checkbox-inline
                    input(type='checkbox' name='districts[]' value=district._id)
                    | #{ district.name }

          div.row.paddb15
            div(class=['col-md-12', 'col-sm-12', 'form-actions'])
              input(type='submit' value='Submit' class=['btn', 'btn-success', 'pull-right'])
