extends ../../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-sm-10', 'col-sm-offset-1'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h4 List of DC
        div.table-responsive
          table.table.table-bordered
            tr
              th #
              th Name
              th Username
              th District
              th Email
              th(class=['col-xs-3', 'col-sm-3', 'col-md-2', 'col-lg-2'])
            each dc, index in dcs
              tr
                td #{ index }
                td #{ dc.title }
                td #{ dc.username }
                td #{ dc.districts.toString().replace(',', ', ') }
                td #{ dc.email }
                td.text-center
                  a#updateDC(href='/role/dc/' + dc._id class=['btn', 'btn-xs', 'btn-info'])
                    i.glyphicon.glyphicon-pencil
                    |  Edit
                  form(
                    action='/role/dc/' + dc._id
                    encrypte='application/x-www-form-urlencoded'
                    method='POST'
                    style='display:inline'
                  )
                    input(type='hidden' name='_method' value='DELETE')
                    button(
                      type='button'
                      data-toggle='modal'
                      data-title='Delete DC'
                      data-target='#confirmDelete'
                      data-message='Are you sure you want to delete this DC?'
                      class=['btn', 'btn-xs', 'btn-danger', 'delete-btn']
                    )
                      i.glyphicon.glyphicon-trash
                      |  Delete

        a(href='/role/dc/create' class=['btn', 'btn-success', 'pull-right'] role='button') Add a DC
        include ../../confirms/delete.pug
