extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    if districts.length>0
      div(class=['col-sm-6', 'col-sm-offset-3'])
        div.page-header: h2 Create School
        form(action='/school/create' method='POST' role='form')
          div.form-group
            label(for='name') School Name
            input#name.form-control(name='name' type='text')
          div.form-group
            label(for='district') District
            select#district.form-control.remarks-select(name='district')
              option(value='') N/A
              each district in districts
                option(value=district._id data-remarks=district.remarks) #{district.name}
          div.row.remarks-box
            div(class=['col-md-12', 'col-sm-12'])
          div.form-group
            label(for='remarks') Remarks:
            textarea#remarks.form-control(name='remarks' cols="50" rows="10")
          input.btn.btn-success.pull-right(type='submit' value='Submit!')
    else
      div(
        class=['alert', 'alert-danger', 'text-center', 'col-sm-6', 'col-sm-offset-3']
        role='alert'
      )
        strong No Districts! &nbsp
        a.alert-link(href='/district/create') Create District.
