extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-6', 'col-sm-offset-3'])
      div.page-header: h2 Edit School
      form(
        method='POST'
        action='/school/' + school._id
        role='form'
        enctype='application/x-www-form-urlencoded'
      )
        input(type='hidden' name='_method' value='PUT')
        div.form-group
          label(for='name') Name
          input#name.form-control(name='name' value=school.name)
        div.form-group
          label(for='remarks') Remarks
          textarea#remarks.form-control(name='remarks' cols="50" rows="10") #{school.remarks}
        input.btn.btn-success.pull-right(type='submit' value='Update')
