div.row
  div(class=['panel', 'panel-default'])
    div.panel-heading
      span(class=['pull-right', 'clickable'])
        i(class=['glyphicon', 'glyphicon-chevron-up'])
      if nominal.member_type == 'students'
        h3.panel-title Students
      else if nominal.member_type == 'teachers'
        h3.panel-title Teachers
    div.panel-body
      div.table-responsive
        table(id='pending-people-list' class=['table', 'table table-bordered'])
          tr
            each field in fields
              th #{ headers[field] }
          each member in members
            tr
              each field in fields
                td #{ member[field] }

if nominal.nominal_attachment != ''
  div.row
    div(class=['panel', 'panel-default'])
      div.panel-heading
        span(class=['pull-right', 'clickable'])
          i(class=['glyphicon', 'glyphicon-chevron-up'])
        h3.panel-title Files
      div.panel-body
        ul.list-group
          li.list-group-item
            a(href='/uploads/' + nominal.nominal_attachment ) #{ nominal.nominal_attachment }

if nominal.teacher_remarks != ''
div.row.paddb15
  label(for='teacher_remarks') Remarks:
  textarea.form-control(id='teacher_remarks' name='teacher_remarks' rows=7 cols=50 readonly) #{ nominal.teacher_remarks }

div.row.paddb15
  form(action='/pending/nominal/export' role='form' method='POST')
    input(type='hidden' name='exportData' value={'nominal': nominal, 'members': fullMembers})
    input(type='submit' id='export' class=['btn', 'btn-success', 'pull-right'] value='Export')
