extends ../../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-10', 'col-sm-offset-1'])
      if success_message != ''
        p.alert.alert-success #{ success_message }

      div.page-header: h4 Nominal Rolls
      if nominals.length == 0
        div.alert.alert-info(role='alert') No Nominals!
      else
        form#pendingForm(
          action='/pending/nominal/resolve' role='form' method='POST'
        )
          h5 Click on the Activity Name to view details
          div.table-responsive
            table.table.table-bordered
              tr
                th(class=['col-xs-1', 'col-sm-1', 'col-md-1', 'col-lg-1'])
                  td Activity
                  td Date
                  td School
                  td Status
                  td Action

              each nominal in nominals
                tr
                  td.text-center
                    - if ((nominal.status == 0 && authRole == 'dc') || (nominal.status == 1 && authRole == 'admin'))
                      input#nominal(name='nominals[]' type='checkbox' class='requestCheck' value=nominal._id)
                  td
                    a(href='/pending/nominal/more/' + nominal._id) #{ nominal.activity_title }
                  td #{ moment(nominal.created_at).format('YYYY-MM-DD HH:mm') }
                  td #{ schools[nominal.school_id.toString()] }
                  td
                    case nominal.status
                      when 0
                        | New Request
                      when 1
                        if authRole == 'admin'
                          | Pending
                        else
                          | Pending Admin Approval
                      when 2
                        | Approved
                      when -1
                        | Reected by Admin
                      when -2
                        | Rejected by DC
                  td #{ nominal.action }
          div.row
            if authRole == 'dc'
              div.form-group.paddlr15
                label(for='dc_remarks')
                textarea(id='dc_remarks' name='dc_remarks' class='form-control' rows=10)
            else
              div.form-group.paddlr15
                label(for='admin_remarks')
                textarea(id='admin_remarks' name='admin_remarks' class='form-control' rows=10)

          div.row.paddb15.paddlr15
            input(name='action' type='submit' value='Reject' class=['btn', 'btn-danger', 'pull-right'])
            input(name='action' type='submit' value='Approve' class=['btn', 'btn-success', 'pull-right'] style='margin-right: 10px')
