extends ../../layouts/master.pug

block content
  div#nominal(data-nominal={'nominal': nominal, 'members': members})
  div.container-fluid
    div.row.paddlr15
      div(class=['col-sm-10', 'col-sm-offset-1'])
        div.page-header: h4 #{ activityName }
        div.row
          div(class=['col-xs-12', 'col-sm-6', 'col-md-6', 'col-lg-6'])
            strong Username:
            |  #{ teacherName }
          div(class=['col-xs-12', 'col-sm-6', 'col-md-6', 'col-lg-6'])
            strong Submission Date:
            |  #{ submitDate }
          div(class=['col-xs-12', 'col-sm-6', 'col-md-6', 'col-lg-6'])
            strong School:
            |  #{ schoolName }

        div.page-header: h5 Select fields you would like to view (max 5 fields)

        div.row
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='name')
              input(type='checkbox' name='fields', value='name')
              |  Name
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='nric')
              input(type='checkbox' name='fields', value='nric')
              |  NRIC/FIN
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='dob')
              input(type='checkbox' name='fields', value='dob')
              |  Date of Birth
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='cob')
              input(type='checkbox' name='fields', value='cob')
              |  Country of Birth
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='gender')
              input(type='checkbox' name='fields', value='gender')
              |  Gender
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='nationality')
              input(type='checkbox' name='fields', value='nationality')
              |  Nationality
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='citizenship')
              input(type='checkbox' name='fields', value='citizenship')
              |  Citizenship
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='race')
              input(type='checkbox' name='fields', value='race')
              |  Race
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='religion')
              input(type='checkbox' name='fields', value='religion')
              |  Religion
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='bg')
              input(type='checkbox' name='fields', value='blood_group')
              |  Blood Group
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='address')
              input(type='checkbox' name='fields', value='address')
              |  Address
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='hpno')
              input(type='checkbox' name='fields', value='home_number')
              |  Home Number
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='hmno')
              input(type='checkbox' name='fields', value='mobile_number')
              |  Mobile Number
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='email')
              input(type='checkbox' name='fields', value='email')
              |  Email
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='rank')
              input(type='checkbox' name='fields', value='rank')
              |  Rank
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='level')
              input(type='checkbox' name='fields', value='level')
              |  Level
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='dietary')
              input(type='checkbox' name='fields', value='dietary')
              |  Dietary Requirements
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='medH')
              input(type='checkbox' name='fields', value='medical_history')
              |  Medical History
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='nok_name')
              input(type='checkbox' name='fields', value='nok_name')
              |  NOK Name
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='noc_contact')
              input(type='checkbox' name='fields', value='nok_contact')
              |  NOK Contact No.
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='nok_relationship')
              input(type='checkbox' name='fields', value='nok_relationship')
              |  NOK Relationship
          div(class=['col-lg-3 col-md-3 col-sm-4 col-xs-6'])
            label(name='remarks')
              input(type='checkbox' name='fields', value='remarks')
              |  Remarks

        div.row.paddb15
          button(id='filter-btn' class='btn btn-success pull-right') Filter

        div#nominal-container
