extends ../layouts/master.pug

block content
  div.container-fluid: div.row: div(class=['col-sm-8', 'col-sm-offset-2'])
    div.page-header.text-center Please select what you would like to create or change.
    div.row
      each appLink in appLinks
        div(class=['col-md-4', 'col-sm-4', 'paddb15'])
          a(href=appLink.url style='text-decoration:none')
            p.text-center.createbox(style='text-align:middle; margin:0;') #{ appLink.title }
