<p>Hi Sir/Mdm,</p>
<p>#{ authUser.title }, #{ authUser.username } has submitted a request to delete a #{ membersName.join(', ') } #{ activityName } nominal roll from #{ districtName } #{ schoolName }</p>
<p>Kindly login to the system to approve/reject the application.</p>
<p>Warmest Regards,</p>
<p>NCC Portal</p>
