extends ../layouts/master.pug

block content
  div.container: div.row: div(class=['col-md-12'])
    div.error-template
      h1 Oops!
      h2 404 Not Found
      div.error-details Sorry, an error has occured, Requested page not found!
      div.error-actions
        a.btn.btn-primary.btn-lg(href="/")
          span.glyphicon.glyphicon-home
          |  Take Me Home
