extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-6', 'col-sm-offset-3'])
      if success_message != ''
        p.alert.alert-success #{success_message}

      div.page-header: h2 Create Facility
      form(
        action='/facility/create'
        method='post'
        role='form'
      )
        div.form-group
          label(for='type') Type of Facility:
          select(id='type' name='type_id' class='form-control')
            each type in types
              option(value=type._id) #{type.type}
        div.form-group
          label(for='place') Name of Facility
          input(type='text' name='place' id='palce' class='form-control')

        div(class=['col-xs-6', 'col-sm-6', 'col-md-6', 'col-lg-6'] style='padding-left:0')
          div.form-group
            label(for='date-from-facility') Date from:
            div#date-from-facility.input-group.date
              input(type='text' name='date_from_facility' class='form-control')
              span.input-group-addon: i.glyphicon.glyphicon-calendar

        div(class=['col-xs-6', 'col-sm-6', 'col-md-6', 'col-lg-6'] style='padding-right:0')
          div.form-group
            label(for='date-to-facility') Date to:
            div#date-to-facility.input-group.date
              input(type='text' name='date_to_facility' class='form-control')
              span.input-group-addon: i.glyphicon.glyphicon-calendar

        div.form-group
          label(for='remarks') Remarks
          textarea(name='remarks' id='remarks' class='form-control' rows=10 cols=50)

        div.row.paddb15
          div(class=['col-md-12', 'col-sm-12', 'form-actions'])
            input.btn.btn-success.pull-right(type='submit' value='Create')
