extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-6', 'col-sm-offset-3'])
      div.page-header: h2 Edit Facility
      form(
        action='/facility/' + facility._id
        method='POST'
        role='form'
        enctype='application/x-www-form-urlencoded'
      )
        input(type='hidden' name='_method' value='PUT')
        div.form-group
          label(for=type) Type of Facility
          select(id='type' name='type_id' class='form-control')
            each type in types
              if type._id.toString() == facility.type_id.toString()
                option(value=type._id selected) #{ type.type }
              else
                option(value=type._id) #{ type.type }
        div(class=['col-xs-6', 'col-sm-6', 'col-md-6', 'col-lg-6'] style='padding-left:0')
          div.form-group
            label(for='date_from_facility') Date from:
            div#date-from-facility.input-group.date
              input(
                name='date_from_facility'
                type='text'
                class='form-control'
                value=facility.date_from_facility
              )
              span.input-group-addon: i.glyphicon.glyphicon-calendar

        div(class=['col-xs-6', 'col-sm-6', 'col-md-6', 'col-lg-6'] style='padding-right:0')
          div.form-group
            label(for='date_to_facility') Date to:
            div#date-to-facility.input-group.date
              input(
                name='date_to_facility'
                type='text'
                class='form-control'
                value=facility.date_to_facility
              )
              span.input-group-addon: i.glyphicon.glyphicon-calendar

        div(class=['col-xs-12', 'col-sm-12', 'col-md-12', 'col-lg-12'] style='padding:0;')
          div.form-group
            label(for='remarks')
            textarea.form-control(name='remarks' cols='50' rows='10') #{ facility.remarks }

        div.row.paddb15
          div(class=['col-md-12', 'col-sm-12', 'form-actions'])
            input.btn.btn-success.pull-right(type='submit' value='Update')
