extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-10', 'col-sm-offset-1'])
      if success_message != ''
        p.alert.alert-success #{success_message}

      if danger_message != ''
        p.alert.alert-danger #{danger_message}

      div.page-header: h4 List of Facilities
      div.table-responsive
        table.table.table-bordered
          tr
            th(class=['col-sx-2', 'col-sm-2', 'col-md-2', 'col-lg-1']) #
            th Type of Facility
            th Name of Facility
            th Date
            th Time
            th(class=['col-xs-3', 'col-sm-3', 'col-md-2', 'col-lg-2'])
          each facility, index in facilities
            - let date_from = moment(facility.date_from_facility).format('YYYY-MM-DD');
            - let date_to = moment(facility.date_to_facility).format('YYYY-MM-DD');
            - let time_from = moment(facility.date_from_facility).format('HH:mm');
            - let time_to = moment(facility.date_to_facility).format('HH:mm');

            tr
              td #{ index }
              td #{ facility.typeName }
              td #{ facility.place }
              td #{ date_from + ' - ' + date_to }
              td #{ time_from + ' - ' + time_to }
              td.text-center
                a.btn.btn-xs.btn-info(href='/facility/' + facility._id role='button')
                  i.glyphicon.glyphicon-pencil
                  |  Edit
                form(
                    action='facility/' + facility._id method='POST'
                    enctype='application/x-www-form-urlencoded'
                    style='display:inline;'
                )
                  input(type='hidden' name='_method' value='DELETE')
                  button.btn.btn-xs.btn-danger.delete-btn(
                    class=['btn', 'btn-xs', 'btn-danger', 'delete-btn']
                    type='button' data-toggle='modal'
                    data-target='#confirmDelete' data-title='Delete Facility'
                    data-message='Are you sure you want to delete this Facility?'
                  )
                    i.glyphicon.glyphicon-trash
                    |  Delete
        a.btn.btn-success.pull-right(href='/facility/create' role='button') Add a Facility
        include ../confirms/delete.pug
