extends ../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-md-10', 'col-sm-offset-1'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h2 Create Nominal Roll
        form(
          action='/nominal/create' method='POST' role='form'
          enctype='multipart/form-data'
        )
          div.row
            div(class=['members-container', 'col-md-6', 'col-sm-6'])
              div.form-group
                label(for='member_type') Student/Teacher:
                select#member-list(name='member_type' class='form-control')
                  option(value='students') Students
                  option(value='teachers') Teachers

              div#student-list.form-group
                label(for='students' style='display:block;') Students:
                if students.length>0
                  each student in students
                    label.checkbox-inline
                      input(type='checkbox' name='students[]' value=student._id)
                      | #{ student.name }
                else
                  div.alert.alert-warning(role='alert')
                    strong No Students! Please create a
                    a.alert-link(href='/role/student/create') student.

              div#teacher-list(style='display:none;' class='form-group')
                label(for='teachers' style='display:block;') Teachers:
                if teachers.length>0
                  each teacher in teachers
                    label.checkbox-inline
                      input(type='checkbox' name='teachers[]' value=teacher._id)
                      | #{ teacher.teacherData.name }
                else
                  div.alert.alert-warning(role='alert')
                    strong No Teachers! Please contact your System Administrator or DC.

            div(class=['col-md-6', 'col-sm-6'])
              div.form-group
                label(for='activity') Activity:
                if activities.length>0
                  select#activity(name='activity_id' class=['form-control', 'remarks-select'])
                    each activity in activities
                      option(value=activity._id data-remarks=activity.remarks) #{ activity.name }
                else
                  div.alert.alert-warning(role='alert') No Activity! Please contact your System Administrator.

              div.row.remarks-box
                div(class=['col-md-12', 'col-sm-12'])

          div.row
            div(class=['col-md-6', 'col-sm-6'])
              div.form-group
                label(for='nominal-file') Attach File:
                input#nominal-file(name='nominal-file' type='file')

          div.row
            div(class=['col-md-12', 'col-sm-12'])
              div.form-group
                label(for='teacher-remarks') Remarks:
                textarea.form-control(name='teacher_remarks' rows=10 cols=50)

          input(type='submit' value='Create' class=['btn', 'btn-success', 'pull-right'])
