extends ../layouts/master.pug

block content
  div.container-fluid
    div.row
      div(class=['col-md-10', 'col-sm-offset-1'])
        if success_message != ''
          p.alert.alert-success #{ success_message }

        div.page-header: h2 List of Nominal Rolls
        div.table-responsive
          table(class=['table', 'table-bordered'])
            tr
              th(class=['col-xs-2', 'col-sm-1', 'col-lg-1']) #
              th Activity
              th Attached File
              th Submission Date
              th Status
              th Action
              th(class=['col-xs-2', 'col-sm-2', 'col-lg-2']) Edit/Delete

            each nominal, index in nominals
              tr
                td #{ index }
                td #{ nominal.activity_title }
                td #{ nominal.nominal_attachment }
                td #{ moment(nominal.created_at).format('YYYY-MM-DD HH:mm') }
                td
                  if nominal.status == 0
                    | Pending DC Approval
                  else if nominal.status == 1
                    | Pending Admin Approval
                  else if nominal.status == 2
                    | Approved
                  else if nominal.status == -1
                    | Rejected by Admin
                  else if nominal.status == -2
                    | Rejected by DC
                td #{ nominal.action }
                td.text-center
                  if nominal.status != 0 && nominal.status != '1'
                    a(href='/nominal/' + nominal._id class=['btn', 'btn-xs', 'btn-info'] role='button')
                      i(class=['glyphicon', 'glyphicon-pencil'])
                      | Edit

                    form.archiveForm(
                        action='nominal/' + nominal._id method='POST'
                        enctype='application/x-www-form-urlencoded'
                        style='display:inline;'
                    )
                      input(type='hidden' name='_method' value='DELETE')
                      button.btn.btn-xs.btn-danger.delete-btn(
                        class=['btn', 'btn-xs', 'btn-danger', 'delete-btn']
                        type='button' data-toggle='modal'
                        data-target='#confirmDelete' data-title='Archive Nominal'
                        data-message='Are you sure you want to archive this Nominal?'
                        data-danger-btn='Archive' data-delete-remarks-field='1'
                      )
                        i.glyphicon.glyphicon-trash
                        |  Delete

        a.btn.btn-success.pull-right(href='/nominal/create' role='button') Add a Nominal Roll
        include ../confirms/delete.pug
