<p>Hi Sir/Mdm,</p>
<p>#{ authUser.title }, #{ authUser.username } has submitted a request to edit a #{ membersName.join(', ') } #{ activityName } #{ districtName }, #{ schoolName }.</p>
<p>Kindly login to the system to approve/reject the application.</p>
<p>Warmest Regards,</p>
<p>NCC Portal</p>
