extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-6', 'col-sm-offset-3'])
      if warning_message
        p.alert.alert-warning #{warning_message}

      div.page-header: h2 Create Facility Type
      form(action='/fctype/create' method='POST' role='form')
        div.form-group
          label(for='type')
          input#type.form-control(name='type')

        div.row.paddb15
          div(class=['col-md-12', 'col-sm-12', 'form-actions'])
            input.btn.btn-success.pull-right(type='submit' value='Create')
