extends ../layouts/master.pug

block content
  div.container-fluid: div.row
    div(class=['col-sm-6', 'col-sm-offset-3'])
      div.page-header: h2 Edit Facility Type
      form(
        action='/fctype/' + type._id
        method='POST'
        role='form'
        enctype='application/x-www-form-urlencoded'
      )
        input(type='hidden' name='_method' value='PUT')
        div.form-group
          label(for='type') Name of Type
          input#type.form-control(type=text name='type' value=type.type)

        div.row.paddb15
          div(class=['col-md-12', 'col-sm-12', 'form-actions'])
            input.btn.btn-success.pull-right(type='submit' value='Update')
