extends layouts/master.pug

block content
  div.container-fluid
    div.row
      div(
        class=["col-xs-10", "col-xs-offset-1", "col-sm-6", "col-sm-offset-3",
        "col-md-6", "col-md-offset-3", "col-lg-6", "col-lg-offset-3"]
      )
        div.page-header
          h1 Login

        form(method='post' role='form')
          div.form-group
            label(for='username') Username:
            input.form-control(type='text' name='username')
          div.form-group
            label(for='password') Password:
            input.form-control(type='password' name='password')
          button.btn.btn-success(type='submit') Login
