<p>Hi Sir/Mdm,</p>
<p>The request to edit, nominal roll for #{ membersName.join(', ') } -  #{ activityName }, has been rejected for the following reasons:</p>
<p>#{ NRData.admin_remarks }</p>
<p>Warmest Regards,</p>
<p>NCC Portal</p>
