extends ../layouts/master.pug

block content
  div.container-fluid: div.row.paddlr15: div(class=['col-sm-8', 'col-sm-offset-2'])
    div.page-header.text-center #{appLinks.pageHeader}
    div.row
      each row, index in appLinks.rows
        if rowsCount>1
          h4 #{row.title}:
          div.row
            each link in row.links
              div(class=['col-md-4', 'col-sm-4', 'paddb15'])
                a(href=link.url style='text-decoration:none;')
                  p.text-center.createbox(style='text-align:middle; margin:0;') #{link.title}
        else
          each link in row.links
            div(class=['col-md-4', 'col-sm-4', 'paddb15'])
              a(href=link.url style='text-decoration:none;')
                p.text-center.createbox(style='text-align:middle; margin:0;') #{link.title}
