doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(
    name='viewport'
    content='width=device-width initial-scale=1.0 user-scalable=no'
  )
  title NCC
body
  nav(
    class=['navbar', 'navbar-default', 'navbar-static-top', 'navbar-inverse']
    role='navigation'
  )
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/' style={height: '80px', padding: '0 0 0 5px'})
          img(src='/img/logo.png' style='max-height:80px;')

        if(isAuth)
          button.navbar-toggle.collapsed(
            type='button' data-toggle='collapse' data-target='.navbar-collapse'
            style='margin-top:25px'
          )
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar

      div.navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          if(isAuth)
            each link in headerLinks
              li: a(href=link.url) #{link.title}
            block navlist
  block content

  script(src='/utils.min.js')
